
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.div1{
    width: 100%;
    height: 120px;
    display: block;
    cursor: pointer;
}
#div1-1{
    width: 100%;
    height: 120px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
#d1img{
    margin-left: -210px;
}
.x{
    width: 17px;
    height: 17px;
    line-height: 15px;
    border-radius: 10px;
    color: darkgrey;
    text-align: center;
    border:  1px solid darkgrey;
    position: absolute;
    top: 10px;
    right: 150px;
}
.div2{
    width: 1240px;
    height: 80px;
    line-height: 80px;
    margin: 0 auto;
    position: relative;
}
.meicuo{
    width: 1519px;
    height: 180px;
    background-color: white;
    position: absolute;
    top: 30px;
    left: -575px;
    z-index: 2;
    display: none;
}
#dli1{
    width: 1519px;
    height: 180px;
    position: absolute;
    line-height: 15px;
    z-index: 1;
    top: 30px;
    left: -575px;
    background-color: white;
    display: none;
    z-index: 3;
}
#dli1 ul{
    margin-top: 30px;
    margin-right: 380px;
    float: right;
}
#dli1 li{
    display: inline-block;
    text-align: center;
    width: 80px;
    height: 145px;
    position: relative;
    margin-left: 25px;
    right: -30px;
    opacity: 0;
}
#dli2{
    width: 1519px;
    height: 180px;
    line-height: 15px;
    position: absolute;
    z-index: 1;
    top: 30px;
    left: -575px;
    background-color: white;
    display: none;
    z-index: 3;
}
#dli2 ul{
    margin-top: 30px;
    margin-right: 220px;
    float: right;

}
#dli2 li{
    display: inline-block;
    text-align: center;
    width: 80px;
    height: 145px;
    margin-left: 30px;
    position: relative;
    right:-30px;
    opacity: 0;
}
#dli3{
    width: 1519px;
    height: 180px;
    position: absolute;
    line-height: 15px;
    z-index: 1;
    top: 30px;
    left: -575px;
    background-color: white;
    display: none;
    z-index: 3;
}
#dli3 ul{
    margin-top: 30px;
    margin-right: 380px;
    float: right;

}
#dli3 li{
    display: inline-block;
    text-align: center;
    width: 80px;
    height: 145px;
    margin-left: 30px;
    position: relative;
    right:-30px;
    opacity: 0;
}
#dli4{
    width: 1519px;
    height: 180px;
    position: absolute;
    line-height: 15px;
    z-index: 1;
    top: 30px;
    left: -575px;
    background-color: white;
    display: none;
    z-index: 3;
}
#dli4 ul{
    margin-top: 30px;
    margin-right: 220px;
    float: right;
}
#dli4 li{
    display: inline-block;
    text-align: center;
    width: 80px;
    height: 145px;
    margin-left: 30px;
    position: relative;
    right:-30px;
    opacity: 0;
}
.dp1{
    margin-top: 10px;
    display: inline-block;
    width: 80px;
    height: 20px;
    text-align: center;
    font-size: 13px;
    line-height: 20px;
}
.dsp1{
    font-size: 10px;
    text-decoration: line-through;
    color: #ccc;
}
#img1{
    margin-top: 25px;
}
.div2-1{
    line-height: 25px;
    width: 845px;
    position: absolute;
    right: -40px;
    top: 25px;
}
.div2-1 li{
    height: 145px;
    padding-right: 30px;
    /*margin-right: 30px;*/
    float: left;
}
.div2-1 li a:hover{
    color: deepskyblue;
}
.div2-1 li a{
    font-size: 14px;
    color: #333333;
}
#DL{
    position: relative;
}
#DL1{
    width: 95px;
    height: 120px;
    position: absolute;
    top: 36px;
    right: 88px;
    border: 1px solid #cccccc;
    background-color: white;
    z-index: 2;
    display: none;
}
#DL1 ul{
    margin-top: 8px;
    text-align: center;
    display: inline-block;
}
#DL1 ul li{
    display: inline-block;
    width: 93px;
    height: 27px;
    font-size: 10px;
}
#DL1 ul li a{
    color: #333333;
    font-size: 13px;
}
#DL1 ul li a:hover{
    color: deepskyblue;
}
#GW{
    position: relative;
}
#GW1{
    width: 360px;
    height: 130px;
    position: absolute;
    top: 36px;
    right: 28px;
    border:  1px solid #cccccc;
    z-index: 2;
    background-color: white;
    display: none;
}
#GWt{
    position: absolute;
    top: 8px;
    left: 20px;
}
#GWp{
    position: absolute;
    top: 45px;
    right: 40px;
    font-size: 13px;
    line-height: 20px;
    color: #b5b5b5;
}
.img2{
    margin-right: 30px;
    float: left;
}
.div3{
    width: 1240px;
    height: 480px;
    margin: 0 auto;
    position: relative;
}
.d3lid{
    width: 380px;
    height: 480px;
    background-color: white;
    position: absolute;
    top: 0;
    left: 240px;
    display: none;
}
#d3lid{
    width: 621px;
}
.d3-left{
    width: 380px;
    height: 480px;
    float: left;
}
.d3lid p{
    width: 340px;
    height: 40px;
    margin-left: 20px;
    line-height: 40px;
    border-bottom: 1px solid #ccc;
}
.d3lid p:hover{
    color: deepskyblue;
}
.d3ul{
    width: 380px;
    height: 120px;
}
.d3ul1{
    width: 380px;
    height: 60px;
}
.d3ul1 li{
    width: 150px;
    height: 60px;
    float: left;
    position: relative;
}
.d3ul1 li span{
    width: 100px;
    height: 40px;
    line-height: 50px;
    position: absolute;
    top: 0;
    right: -10px;
    font-size: 13px;
}
.d3ul li{
    width: 150px;
    height: 60px;
    float: left;
    position: relative;
}
.d3ul li span{
    width: 100px;
    height: 40px;
    line-height: 50px;
    position: absolute;
    top: 0;
    right: -10px;
    font-size: 13px;
}
.d3-right{
    line-height: 20px;
    width: 240px;
    height: 480px;
    float: left;
    background-color: #f9f9f9;
}
.d3-right img{
    margin-left: 10px;
    margin-top: 10px;
}
.spleft{
    position: absolute;
    top: 210px;
    left: 244px;
    font-size: 30px;
    line-height: 60px;
    text-align: center;
    width: 30px;
    height: 60px;
}
.spleft a{
    color: white;
}
.spright{
    position: absolute;
    top: 210px;
    right: 0;
    font-size: 30px;
    line-height: 60px;
    text-align: center;
    width: 30px;
    height: 60px;
}
.spright a{
    color: white;
}
#div3-1-1{
    width: 1240px;
    height: 480px;
    margin: 0 auto;
}
#d3ul1{
    margin-right: -139px;
    margin-left: -339px;
    overflow: hidden;
    height: 480px;
}
.ol{
    width: 135px;
    height: 10px;
    line-height: 10px;
    position: absolute;
    bottom: 20px;
    left: 45%;
}
.ol li{
    display:block;
    text-align: center;
    margin-right: 10px;
    border: 1px solid #fff;
    border-radius: 10px;
    width: 10px;
    height: 10px;
    float: left;
    cursor: pointer;
}
.ol li:hover{
    background-color: deepskyblue;
}
.div3-0{
    width: 244px;
    height: 480px;
    background-color: rgba(255,255,255,0.8);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
.div3-0 ul{
    margin-top: 20px ;
}
.div3-0 li{
    line-height: 55px;
    height: 55px;
    padding-left: 20px;
}
.d3li:hover{
    background-color: orange;
    cursor: pointer;
}
.div3-0 li a{
    color: #333;
}
.div4{
    width: 1240px;
    height: 130px;
    margin: 5px auto;
}
.d4-sp1{
    width: 244px;
    height: 140px;
    background-color: white;
    float: left;
}
.d4-span{
    margin-left: 5px;
    float: left;
}
.div4-1{
    width: 50%;
    height: 50%;
    line-height: 72px;
    font-size: 15px;
    text-align: center;
    background-color: #f9f9f9;
    float: left;
    position: relative;
}
.d4-p{
    font-size: 14px;
    position: absolute;
    top: 15px;
    left: 34px;
}
.d4-p1{
    font-size: 14px;
    position: absolute;
    top: 15px;
    left: 26px;
}
.div5{
    width: 1240px;
    height: 90px;
    margin: 0 auto;
    position: relative;
}
.d5-h2{
    position: absolute;
    left: 0;
    bottom: 20px;
    font-weight: normal;
}
.d5-span{
    width: 68px;
    height: 30px;
    position: absolute;
    right: 5px;
    top: 50%;
}
.d5-left{
    width: 29px;
    height: 29px;
    border: 1px solid #ccc;
    color: #ccc;
    float: left;
    font-size: 30px;
    text-align: center;
    line-height: 29px;
    cursor: pointer;
    opacity: 0.4;
}
.d5-left:hover{
    background-color: deepskyblue;
}
.d5-right{
    width: 29px;
    height: 29px;
    border: 1px solid #ccc;
    color: #cccccc;
    float: right;
    font-size: 30px;
    text-align: center;
    line-height: 29px;
    cursor: pointer;
}
.d5-right:hover{
    background-color: deepskyblue;
}
.div6{
    width: 1240px;
    height: 340px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.D6left{
    height: 340px;
    width: 2480px;
    position: absolute;
    left: 0;
    top: 0;
    /*border-bottom: 1px solid #f6f6f6;*/
}
.div6-1{
    width: 246px;
    height: 338px;
    border: 1px solid #f6f6f6;
    float: left;
    position: relative;
}
.d6-jun{
    position: absolute;
    top: 10px;
    right: 20px;
}
.d6-img{
    margin-left: 30px;
    margin-top: 30px;
}
.d6-1{
    width: 100%;
    height: 105px;
    text-align: center;
    position: relative;
}
.d6-1-0{
    position: absolute;
    top: 20px;
    left: 80px;
}
.d6-1-1{
    width: 35px;
    height: 15px;
    background-color: #f14361;
    font-size: 13px;
    line-height: 15px;
    color: white;
    position: absolute;
    top: 50px;
    left: 50px;
}
.d6-1-2{
    position: absolute;
    top: 50px;
    left: 100px;
    font-size: 13px;
    color: #f14361;
}
.d6-1-3{
    position: absolute;
    bottom: 10px;
    left: 60px;
    font-size: 17px;
    color: #f14361;
}
.d6-1-4{
    position: absolute;
    bottom: 10px;
    left: 130px;
    font-size: 15px;
    color: #b6b0b1;
    text-decoration: line-through;
}
.d6-2-3{
    position: absolute;
    bottom: 10px;
    left: 73px;
    font-size: 17px;
    color: #f14361;
}
.d6-3-2{
    position: absolute;
    top: 50px;
    left: 70px;
    font-size: 13px;
    color: #b5b5b5;
}
.d6-3-3{
    position: absolute;
    bottom: 10px;
    left: 100px;
    font-size: 17px;
    color: #f14361;
}
.d6-2-0{
    position: absolute;
    top: 20px;
    left: 90px;
}
.div7{
    width: 1240px;
    height: 175px;
    text-align: center;
    line-height: 175px;
    margin: 5px auto;
}
.d7-img{
    margin-top: 30px;
}
.div8{
    height: 2640px;
    background-color: #f5f5f5;
}
.div8-1{
    width: 1240px;
    height: 90px;
    margin:  0 auto;
    position: relative;
}
.div8-1-h{
    font-size: 25px;
    position: absolute;
    bottom: 15px;
    left: 0;
    font-weight: normal;
}
.div8-1-p{
    position: absolute;
    bottom: 15px;
    left: 120px;
    font-size: 14px;
    color: deepskyblue;
    padding-bottom: 2px;
    border-bottom: 2px solid deepskyblue;
}
.div8-2-p{
    position: absolute;
    bottom: 15px;
    left: 200px;
    font-size: 14px;
    padding-bottom: 2px;
}
.div8-3-p{
    position: absolute;
    bottom: 15px;
    left: 280px;
    font-size: 14px;
    padding-bottom: 2px;
}
.div8-4-p{
    position: absolute;
    bottom: 15px;
    left: 360px;
    font-size: 14px;
    padding-bottom: 2px;
}
.div8-3{
    width: 1240px;
    height: 50px;
    margin:  0 auto;
    position: relative;
}
.div8-3 p:hover{
    color: dodgerblue;
    border-bottom: 2px solid deepskyblue;
    cursor: pointer;
}
.div8-3-h{
    font-size: 25px;
    position: absolute;
    bottom: 15px;
    left: 0;
    font-weight: normal;
}
.div8-1-p1{
    position: absolute;
    bottom: 15px;
    left: 80px;
    font-size: 14px;
    color: deepskyblue;
    padding-bottom: 2px;
    border-bottom: 2px solid deepskyblue;
}
.div8-3-sp{
    position: absolute;
    bottom: 15px;
    right: 0;
    font-size: 14px;
}
.div8-3-sp:hover{
    cursor: pointer;
    color: deepskyblue;
}
.div8-2{
    width: 1240px;
    height: 680px;
    /*overflow: hidden;*/
    margin: 0 auto;
    cursor: pointer;
}
.div8-2-d{
    position: relative;
    width: 240px;
    height: 335px;
    background-color: white;
    float: left;
    transition: all 0.5s;
}
.d8-img{
    position: absolute;
    top: -20px;
    right: 10px;
}
.div8-2-d-1{
    position: relative;
    width: 240px;
    height: 335px;
    background-color: white;
    float: left;
}

/*bug1 上边最后一个盒子有问题*/
.div8-2-d:hover{
    margin-top: 3px;
    box-shadow: 0px 5px 7px 3px #ccc;
}
.div8-2-img{
    width: 240px;
    height: 332px;
    position: absolute;
    top: 0;
    left: 0;
}
.div8-2-d img{
    margin: 30px 0 20px 30px;
}
.d8img1{
    margin: 0;
}
#d8img2{
    margin: 0;
}
#d8img3{
    margin: 0;
}
.div8-2-d h4{
    text-align: center;
    font-weight: normal;
}
.div8-2-d p{
    text-align: center;
    font-size: 12px;
    color: #b5b5b5;
}
.div8-2-d span{
    display: block;
    text-align: center;
    font-size: 14px;
    color: #f14361;
}
.div8-top{
    width: 1240px;
    height: 335px;
}
.div8-bottom{
    margin-top: 10px;
    width: 1240px;
    height: 335px;
}
#derji{
    display: none;
}
#dshebei{
    display: none;
}
#djianshu{
    display: none;
}
#dshuju{
    display:none;
}
#dbaohu{
    display: none;
}
.right{
    margin-left: 10px;
}
.div9{
    height: 290px;
}
.div9-1{
    width: 1240px;
    height: 190px;
    border-bottom: 1px solid #cccccc;
    margin:  0 auto;
    position: relative;
}
.div9-1-right{
    position: absolute;
    bottom: 40px;
    right: 10px;
    text-align: right;
}
.div9-1-right p{
    font-size: 12px;
    color: #aaa;
    margin-bottom: 2px;
}
.div9-1-right h3{
    color: deepskyblue;
    margin-bottom: 5px;
}
.div9-1-right span{
    display: block;
    font-size: 16px;
    color: white;
    width: 140px;
    height: 40px;
    background-color: deepskyblue;
    line-height: 40px;
    text-align: center;
}
.div9-1-left ul{
    position: absolute;
    top: 60px;
    left: 15px;
    width: 940px;
    height: 70px;
}
.div9-1-left ul li{
    float: left;
    width: 235px;
    height: 55px;
    line-height: 55px;
    position: relative;
}
.d9-p{
    color: #aaa;
    font-size: 14px;
    top: -10px;
    left: 35px;
    position: absolute;
}
.div9-2{
    width: 1240px;
    height: 100px;
    margin: 0 auto;
    position: relative;
}
.div9-2 ul li{
    float: left;
    margin-right: 15px;
    text-align: center;
    border-right: 1px solid #ccc;
    font-size: 12px;
}
.div9 ul li:nth-child(8){
    border: none;
}
.div9-2 ul li a{
    margin-right: 15px;
    color: #aaa;
}
.div9-2 ul{
    position: absolute;
    top: 25px;
    left: 0;
}
.div9-2 p{
    position: absolute;
    top: 50px;
    left: 0;
    font-size: 12px;
    color: #aaa;
}
.div9-3{
    position: absolute;
    top: 50px;
    left: 880px;
}
.div9-4{
    width: 126px;
    height: 17px;
    position: absolute;
    top: 55px;
    right: 0;
    float: left;
}
.div9-2-sp1{
    display: inline-block;
    margin-right: 15px;
    width: 25px;
    height: 16px;
    background: url("images/base.png")-222px 101px;
}
.div9-2-sp2{
    display: inline-block;
    margin-right: 15px;
    width: 25px;
    height: 16px;
    background: url("images/base.png")-305px 101px;
    position: relative;
}
.div9-2-dg{
    width: 170px;
    height: 170px;
    border: 1px solid #ccc;
    position: absolute;
    top: -185px;
    left: -75px;
    display: none;
}
.div9-2-sp3{
    display: inline-block;
    width: 25px;
    height: 17px;
    background: url("images/base.png")-347px 102px;
}
.guc{
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: #ccc;
}
.app{
    margin-top: 3px;
    margin-bottom: 3px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: #cccccc;
    position: relative;
}
.div10{
    width: 50px;
    height: 156px;
    text-align: center;
    display: none;
    cursor: pointer;
    color: white;
    font-size: 12px;
}
.gddw{
    position: fixed;
    top: 500px;
    right: 0;
}
.ewm{
    width: 170px;
    height: 170px;
    text-align: center;
    padding-top: 10px;
    background-color: #b6b0b1;
    position: absolute;
    top: -130px;
    left: -170px;
    display: none;
}
.ewm p{
    font-size: 10px;
    color: white;
}